.container {
    width: 100%;

    .image {
        width: 100%;
    }

    .description {
        width: 80%;
        margin: 1em auto;
        font-style: italic;
        text-align: center;
    }
}