
.head {

    padding-bottom: 0.5em;
    border-bottom: 1px solid #ffffff;

    width: 95%;
    margin: 8em auto 3em auto;

    img {
        max-width: 100%;
        object-fit: contain;
    }
}

.infos, .credits {
    span {
        display: block;
    }
}

.container {

    display: flex;
    flex-direction: column;

    h1 {
            font-size: max(2vw, 1.2em);
            font-variant: small-caps;
    
            padding-bottom: 0.78em;
    }

    p {
        a {
            margin: auto;
            max-width: 100%;
            display: inline-block;

            img {
                margin: auto;
                max-width: 100%;
                display: block;
            }
        }
    }

    div {
        column-count: 2;
        column-gap: 3em;

        margin-bottom: 5vw;
        border-bottom: 1px solid darken($textColor, 90%);
        padding-bottom: 5vw;

        p {
            a {
                margin: auto;
                max-width: 100%;
                display: inline-block;

                img {
                    margin: auto;
                    max-width: 100%;
                    display: block;
                }
            }
        }

        h1 {
            font-size: max(2vw, 1.2em);
            font-variant: small-caps;

            padding-bottom: 0.78em;    
        }
    }
}

.resources {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    margin-top: 5em;

    a {
        text-decoration: none;
    }
}


@media screen and (max-width: $mediumMinScreenWidth) {
    .container div {
        column-count: 1;
    }

    .head {
        width: 100%;
    }
}

@media screen and (max-width: $smallMinScreenWidth) {
    .container div p {
        text-align: justify;
    }

    .head p {
        text-align: justify;
    }
}