.head {
    width: 80%;
    margin: 5em auto 10em auto;

    h1 {
        margin-top: 3em;
        border-bottom: 1px solid $textColor;
        padding-bottom: 0.5em;
        font-size: 3em;
    }
}

.people {
    display: flex;
    flex-direction: column;

    .presentation {
        margin-bottom: 5em;

        display: flex;
        flex-direction: row;
        align-items: center;

        column-gap: 5em;

        h2 {
            font-size: 2em;
        }

        img {
            border-radius: 50%;
            width: 15vw;
            height: 15vw;

            border: 2px solid $textColor;

        }
    }
}

.presentation:nth-child(2n + 1) {
    p, h2 {
        text-align: right;
    }
}

.resources {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: right;

    a {
        text-decoration: none;
    }
}

@media only screen and (max-width: $mediumMinScreenWidth) {
    .people {
        .presentation {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            img {
                width: max(20vw, 20vh);
                height: max(20vw, 20vh);

                margin-bottom: 1em;
            }
        }
    }

    .people {
        .presentation:nth-child(2n+1) {
            flex-direction: column-reverse;

            p, h2 {
                text-align: center;
            }
        }
    }
}