.footer {
    position: relative;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 12px;

    border-top: 1px solid $textColor;
    margin: auto 10vw;

    p {
        margin-bottom: 5px;
    }

    h5 {
        font-size: $textSize;
    }

    .list {
        list-style: none;
    }

    svg {
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* For small screens */
@media only screen and (max-width: $smallMinScreenWidth) {
    .list {
        padding-left: 0;
    }
}