html,
body {
  padding: 0;
  margin: 0;

  background-color: #020412;
  color: #ffffff;
}

p::selection, li::selection, 
h1::selection, h2::selection, h3::selection {
  color: #216282;
  background-color: white;
}