.main {
    margin: calc($headerHeight + 5em) calc((100vw - $layoutWidth) / 2);

    transition: all 0.3s;
}

.link {
    position: sticky;
    top: calc($headerHeight + 3em);
    
    font-size: 1em;
    margin-left: 3em;
    color: white;
    text-decoration: none;

    transition: all 0.4s;

    &:hover {
        color: rgb(167, 167, 167);
    }

    span {
        text-decoration: underline;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(8deg);
    }

    95% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.contactButton {
    position: fixed;
    bottom: 5vh;
    margin: 5vh;
    background-color: #216282;

    border: 1px solid white;
    border-radius: 50%;
    
    width: 3em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);

    svg {
        animation: wiggle 2.5s infinite;
        
        width: 50%;
        height: 50%;

        color: white;
    }

    &:hover {
        svg {
            animation: none;
        }
    }
}

/* For small screens */
@media only screen and (max-width: $smallMinScreenWidth) {
    .main {
        margin: $smallScreenMargin;
        margin-top: $headerHeight;
    }

    .link {
        margin-left: 1em;
        position: inherit;
        top: 0;
    }

    .contactButton {
        display: none;
    }
}

@media only screen and (max-width: $mediumMinScreenWidth) {

    .link {
        position: absolute;
        top: 5em;
        margin-left: 1em;
    }
}