
/* Layout */
$headerHeight: 5em;

$smallMinScreenWidth: 600px;
$smallScreenMargin: 15px;

$mediumMinScreenWidth: 1200px;

$layoutWidth: 60vw;

$projectImageGap: 1em;

/* Theme */
$font : 'Montserrat light';

$textSize: 1em;
$backgroundColor: #020412;

$textColor: #DEEEF7;
$linkColor: #DEEEF7;
$linkColorHover: #DEEEF7;

$selectedBackgroundColor: $textColor;
$selectedTextColor: $backgroundColor;