
/* Layout */
$headerHeight: 5em;

$smallMinScreenWidth: 600px;
$smallScreenMargin: 15px;

$mediumMinScreenWidth: 1200px;

$layoutWidth: 60vw;

$projectImageGap: 1em;

/* Theme */
$font : 'Montserrat light';

$textSize: 1em;
$backgroundColor: #000000;

$textColor: #ffffff;
$linkColor: #ffffff;
$linkColorHover: #ffffff;

$selectedBackgroundColor: $textColor;
$selectedTextColor: $backgroundColor;