
/* Layout */
$headerHeight: 5em;

$smallMinScreenWidth: 600px;
$smallScreenMargin: 15px;

$mediumMinScreenWidth: 1200px;

$layoutWidth: 60vw;

$projectImageGap: 1em;

/* Theme */
$backgroundColor: #000000;

$textColor: #ffffff;
$linkColor: #216282;

$selectedBackgroundColor: $textColor;
$selectedTextColor: $linkColor;